body {
    text-align: center;
    background-image: url("/Users/ashleycastaneda/Build-a-Portfolio/images/rustic-wood-background-free-backgrounds-on-pinterest-wood-texture-34.jpeg");
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px #f7f3f3;
    color:rgb(1, 0, 1)
}

ul {
    padding-left: 0;
    list-style-position: inside;
  }

h1 {
    color: rgb(47, 3, 92);    
}